@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@keyframes scale-up{
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
body {
    /* background-color: rgb(45,68,75); */
    top: 0;
    margin: 0;
  }

 /* --------------------HOME PAGE CSS --------------------------*/
 .home{
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(45,68,75,1) 0%, rgba(16,18,21,1) 35%, rgba(25,34,48,1) 75%);
 }
  .navbar {
    background-image: linear-gradient(90deg, rgba(45,68,75,1) 0%, rgba(16,18,21,1) 35%, rgba(25,34,48,1) 75%);
    top: 0;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    color: #fff;
    padding: 20px 20px;
    padding-bottom: 5px;
    /* background: transparent; */
    width: 100%;
  }
  .navbar__logo {
    border-radius: 4px;
    padding-left: 30px;
    width: 70px;
  } 
  .navbar__menu {
    display: flex;
    /* text-align: center; */
    list-style: none;
  }
  .navbar__menu__item {
    margin-left: 36px;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    
  }
  .navbar__menu__button{
    margin-right: 40px;
    margin-left: 40px;
  }
  .navbar__menu__item a {
    color: #fff;
    text-decoration: none;
  }
  .main_text{
    padding: 190px 20px;
    margin-left: 40px;
    max-width: 700px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    animation-name: scale-up;
    animation-duration: 1.5s;
  }
  #extra{
    margin-top: 20px;
    font-size: 25px;
    animation-name: scale-up;
    animation-duration: 1.5s;
  }
  
  .btn{
      cursor: pointer;
      width: 180px;
      height: 65px;
      color: white;
      font-size: 16px;
      border-radius: 20px;
      background: linear-gradient(101.61deg, #00f0ff, #bc88e4);
  }
  
  .login_btn{
    width: 100px;
    height: 30px;
    color: white;
      font-size: 16px;
      border-radius: 50px;
      background: linear-gradient(101.61deg, #00f0ff, #bc88e4);
  }

  /* ------------------ABOUT PAGE CSS --------------------------- */

  .about{
    background-image: linear-gradient(90deg, rgba(45,68,75,1) 0%, rgb(7, 84, 68) 35%, rgb(79, 19, 11) 75%);
    /* text-align: center; */
  }
  .about_container{
    padding: 60px 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    max-width: 800px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    /* margin: 0 auto; */
    /* margin-right: 0; */
    font-size: 50px;
    animation-name: scale-up;
    animation-duration: 1.5s;
    text-align: left;
  }
  .about_image_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about_image{
    border-radius: 40px;
    padding: 20px;
    width: 320px;
    height: 420px;
  }
  
  /* ------------------EVENT PAGE CSS --------------------------- */
  .events{
    background-image: linear-gradient(90deg, rgb(55, 45, 75) 0%, rgb(31, 33, 30) 35%, rgb(5, 58, 26) 75%);
  }
  .event_container{
    
    padding: 60px 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    max-width: 800px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    /* margin: 0 auto; */
    /* margin-right: 0; */
    font-size: 50px;
    animation-name: scale-up;
    animation-duration: 1.5s;
    text-align: left;
  }

  .carouselslide{
    width: 90%;
    height: auto;
    margin: 20px auto;
  }

  .footer_container{
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .contact{
    padding: 60px auto;
    padding-bottom: 10px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
  }
  .footer_img{
    display: flex;
    
  }
  .footerimg{
    width: 30px;
    margin: 20px;
  }