/* ------------------ABOUT PAGE CSS --------------------------- */


.about_container {
  padding: 80px 20px;
  padding-bottom: 20px;
  margin-left: 40px;
  max-width: 800px;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  /* margin: 0 auto; */
  /* margin-right: 0; */
  font-size: 50px;
  animation-name: scale-up;
  animation-duration: 1.5s;
  text-align: left;
}
#extra {
  margin-top: 20px;
  font-size: 20px;
  animation-name: scale-up;
  animation-duration: 1.5s;
}
.about_image_container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.about_image_container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.about_image {
  border-radius: 35px;
  padding: 20px;
  width: 360px;
  height: 440px;
}
